<h1 class="fontfor blue-text container center">The Orphanages</h1>


<div class="container" id="rowimages">
<% @orphanages.each do |orphanage| %>
    <div class="col s12">
      <div class="card large">
        <div class="card-image waves-effect waves-block waves-light">
          <%= image_tag orphanage.avatar.url{:medium}, class: "activator" %>
        </div>
        <div class="card-content">
          <span class="card-title activator">
            <%= orphanage.name %>
          </span>
          <p><%= link_to 'More Details', orphanage %></p>
        </div>
        <div class="card-reveal">
          <span class="card-title black-text">
            <%= orphanage.name %>
            <i class="mdi-navigation-close right black-text"></i>
          </span>
          <p>
            <%= orphanage.description %>
          </p>
        </div>
      </div>
      </div>
    <% end %>