  <div id="slider" class="homeslider">
      <div class="navbar-fixed">
        <div class="nav-wrapper">
        <nav class="navfixed N/A transparent"> 
            <h class="center brand-logo fontfor header" id="navtitle">
              <%= link_to 'Dreams Alive', root_path %> 
            </h>
            <ul class="right white-text">
              <li>
                <%= link_to 'Sign Up', new_user_registration_path %>    
              </li>                             
              <li>
                <%= link_to 'Login', new_user_session_path %>
              </li>
            </ul>
          <ul id="slide-out" class="side-nav blue-text">
            <li><a href="#about" id="#toabout">About</a></li>
            <li class="fontfor"><%= link_to 'Sponsors Portal', sponsors_path %></li>
            <li class="fontfor">
              <%= link_to 'Orphanages Portal', new_orphanage_path %>
            </li>
            <li></li>
            <li><a href="#!">Donate</a></li>
          </ul>
          <a href="#" data-activates="slide-out" 
          class="button-collapse show-on-large">
            <i class="mdi-navigation-menu"></i>
          </a>
        </nav> 
      </div>
    </div>    
  </div> 
  <script type="text/javascript">
    var $j = jQuery.noConflict();
    $j('.homeslider').bgswitcher({
        // Background images
        images: ["/assets/bgdreams.jpg", "/assets/bgdreams2.jpg"],
        effect: "drop", // fade, blind, clip, slide, drop, hide
        interval: 6000, // Interval of switching
        loop: true, // Loop the switching
        shuffle: false, // Shuffle the order of an images
        duration: 1000, // Effect duration
        easing: "swing" // Effect easing
      });
 </script>   
 <div class="row white" id="about">
  <div class="container center-align">
    <h3 class="header blue-text">About Dreams Alive</h3>
    <p class="text-darken-4">
      Dreams Alive is a platform that helps impoverished children to find a sponsor
      through the respective children orphanages that they belong to.
      It provides easy access to the profiles of different orphanages and their contacts and location in detail and also helps the orphanages found in remote areas to get featured online.
    </p>
  </div>
  <div class="container cernter-align">
    <p>
      REGISTER TODAY AS A SPONSOR TO KEEP THE DREAMS OF CHILDREN ALIVE
      OR SIGN UP YOUR ORPHANAGE AND GET FEATURED
    </p>
    <br>
    <div class="col s12 center-align" id="buttons-register">
      <a class="waves-effect waves-blue btn-flat blue-text text-darken-4">
        <%= link_to 'REGISTER', new_orphanage_path %>        
      </a>
      <br>
      <br>
      <a class="waves-effect waves-blue btn-flat blue-text text-darken-4">
        <%= link_to 'SPONSOR', new_sponsor_path %>
      </a>
    </div>
  </div>
 </div>
 <!-- List of featured orphanages -->
 <div class="row" id="featured">
  <h1 class="header center-align blue-text" id="reg">Featured Orphanages</h1>
  <br>
  <br>
  <div class="container" id="rowimages">
    <article class="col s4" 
        style="background: url("/assets/img_dreams.jpg");">     
      <div class="imghover" 
      style="opacity: 0; background: url("/assets/img_dreams.jpg");">         
        <a href="#">
          <h6>View Profile</h6>
        </a>        
      </div>
    </article>
    <article class="col s4">
      <img src="/assets/img_dreams1.jpg" id="imgfeatured">
    </article>
    <article class="col s4">
      <img src="/assets/img_dreams2.jpg" id="imgfeatured">
    </article>
  </div>
  <br />
  <div class="container" id="rowimages" id="imgfeatured">
    <article class="col s4">
      <img src="/assets/img_dreams3.jpg" id="imgfeatured">
    </article>
    <article class="col s4">
      <img src="/assets/img_dreams5.jpg" id="imgfeatured">
    </article>
    <article class="col s4">
      <img src="/assets/img_dreams.jpg" id="imgfeatured">
    </article>
  </div>
 </div>
 <script type="text/javascript">
  var $j = jQuery.noConflict();
    $j('.button-collapse').sideNav({
          menuWidth: 300, // Default is 240
          edge: 'left', // Choose the horizontal origin
          closeOnClick: true // Closes side-nav on <a> clicks, useful for Angular/Meteor
        }
      );
  </script>
 <script type="text/javascript">
      $(document).ready(function(){
        //portfolio - show link
        $('.imghover').hover(
          function () {
            $(this).animate({opacity:'1'});
          },
          function () {
            $(this).animate({opacity:'0'});
          }
        );        
      });
  </script>
   <!-- <br />
   <br />
    <table>
      <thead>
        <tr>
          <th>Name</th>
          <th>Location</th>
          <th>Street</th>
          <th>County</th>
          <th>Description</th>
          <th>Founder</th>
          <th>Contactno</th>
          <th>Email</th>
          <th colspan="3"></th>
        </tr>
      </thead>

      <tbody>
        # <% @orphanages.each do |orphanage| %>
          <tr>
            <td><%= orphanage.name %></td>
            <td><%= orphanage.location %></td>
            <td><%= orphanage.street %></td>
            <td><%= orphanage.county %></td>
            <td><%= orphanage.description %></td>
            <td><%= orphanage.founder %></td>
            <td><%= orphanage.contactno %></td>
            <td><%= orphanage.email %></td>
            <td><%= link_to 'Show', orphanage %></td>
            <td><%= link_to 'Edit', edit_orphanage_path(orphanage) %>
            </td>
            <td><%= link_to 'Destroy', orphanage, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          </tr>
        <% end %>
      </tbody>
    </table> -->