<p id="notice"><%= notice %></p>
<head>
  <script type="text/javascript">
    $(document).ready(function(){
        $('.parallax').parallax();
      });
  </script>
</head>

  <div class="section white" id="land">
    <div class="col s12">
      <h1 class="center-align blue-text text-darken-2 header" id="jumbo">Dreams Alive</h1>
      <br>
      <h3 class="center-align blue-text text-darken-3" id="slogan">Keeping children's dreams alive</h3>
    </div>
 </div>

<div class="parallax-container">
  <div class="col s12">
    <div class="parallax">
      <img src="/assets/bgdreams.jpg" class="bgsky">
    </div>
  </div>
</div>

 <div class="row white" id="about">
  <div class="col s6 center-align">
    <h3 class="header blue-text">About Dreams Alive</h3>
    <p class="text-darken-4">
      Dreams Alive is a platform that helps impoverished children to find a sponsor
      through the respective children orphanages that they belong to.
      It provides easy access to the profiles of different orphanages and their contacts and location in detail and also helps the orphanages found in remote areas to get featured online.
    </p>
  </div>
  <div class="col s6">
    <p>
      REGISTER TODAY AS A SPONSOR TO KEEP THE DREAMS OF CHILDREN ALIVE
      OR SIGN UP YOUR ORPHANAGE AND GET FEATURED
    </p>
    <br>
    <div class="col s12 center-align" id="buttons-register">
      <a class="waves-effect waves-blue btn-flat blue-text text-darken-4"
      <%= link_to 'Register', new_orphanage_path %>
        </a>
      <br>
      <br>
      <a class="waves-effect waves-blue btn-flat blue-text text-darken-4">Sponsor</a>
    </div>
  </div>
 </div>
 <div class="parallax-container">
  <div class="col s12">
    <div class="parallax">
      <img src="/assets/bgdreams2.jpg" class="bgsky">
    </div>
  </div>
</div>

 <div class="row" id="featured">
  <h1 class="header center-align blue-text" id="reg">Featured Orphanages</h1>
  <br>
  <br>
  <div class="container" id="rowimages">
    <article class="col s4">
      <img src="/assets/img_dreams.jpg" id="imgfeatured">
    </article>
    <article class="col s4">
      <img src="/assets/img_dreams1.jpg" id="imgfeatured">
    </article>
    <article class="col s4">
      <img src="/assets/img_dreams2.jpg" id="imgfeatured">
    </article>
  </div>
  <div class="container" id="rowimages" id="imgfeatured">
    <article class="col s4">
      <img src="/assets/img_dreams3.jpg" id="imgfeatured">
    </article>
    <article class="col s4">
      <img src="/assets/img_dreams5.jpg" id="imgfeatured">
    </article>
    <article class="col s4">
      <img src="/assets/img_dreams.jpg" id="imgfeatured">
    </article>
  </div>
 </div>


 <footer class="page-footer blue white-text">
          <div class="container">
            <div class="row">
              <div class="col l6 s12">
                <h5 class="white-text">Footer Content</h5>
                <p class="grey-text text-lighten-4">You can use rows and columns here to organize your footer content.</p>
              </div>
              <div class="col l4 offset-l2 s12">
                <h5 class="white-text">Links</h5>
                <ul>
                  <li><a class="grey-text text-lighten-3" href="#!">Link 1</a></li>
                  <li><a class="grey-text text-lighten-3" href="#!">Link 2</a></li>
                  <li><a class="grey-text text-lighten-3" href="#!">Link 3</a></li>
                  <li><a class="grey-text text-lighten-3" href="#!">Link 4</a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="footer-copyright">
            <div class="container">
            © 2015 Copyright Cornellius Ngondo
            <a class="grey-text text-lighten-4 right" href="#!">More Links</a>
            </div>
          </div>
  </footer>
    <!-- <table>
      <thead>
        <tr>
          <th>Name</th>
          <th>Location</th>
          <th>Street</th>
          <th>County</th>
          <th>Description</th>
          <th>Founder</th>
          <th>Contactno</th>
          <th>Email</th>
          <th colspan="3"></th>
        </tr>
      </thead>

      <tbody>
        # <% @orphanages.each do |orphanage| %>
          <tr>
            <td><%= orphanage.name %></td>
            <td><%= orphanage.location %></td>
            <td><%= orphanage.street %></td>
            <td><%= orphanage.county %></td>
            <td><%= orphanage.description %></td>
            <td><%= orphanage.founder %></td>
            <td><%= orphanage.contactno %></td>
            <td><%= orphanage.email %></td>
            <td><%= link_to 'Show', orphanage %></td>
            <td><%= link_to 'Edit', edit_orphanage_path(orphanage) %>
            </td>
            <td><%= link_to 'Destroy', orphanage, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          </tr>
        <% end %>
      </tbody>
    </table> -->
    
