<div class="container">
  <div class="col s6">
    <%= image_tag @orphanage.avatar.url{:medium} %>
  </div>

  <div class="col s6">
      <p>
        <strong>Name:</strong>
        <%= @orphanage.name %>
      </p>

      <p>
        <strong>Location:</strong>
        <%= @orphanage.location %>
      </p>

      <p>
        <strong>Street:</strong>
        <%= @orphanage.street %>
      </p>

      <p>
        <strong>County:</strong>
        <%= @orphanage.county %>
      </p>

      <p>
        <strong>Description:</strong>
        <%= @orphanage.description %>
      </p>

      <p>
        <strong>Founder:</strong>
        <%= @orphanage.founder %>
      </p>

      <p>
        <strong>Contactno:</strong>
        <%= @orphanage.contactno %>
      </p>

      <p>
        <strong>Email:</strong>
        <%= @orphanage.email %>
      </p>

      <%= link_to 'Edit', edit_orphanage_path(@orphanage), 
      class:"btn blue white-text" %> |
      <%= link_to 'Back', root_path, class:"btn blue white-text" %>
  </div>
  <br>
  <br>
   <%= link_to 'Add A Child', new_kid_path, class:"btn-large blue white-text" %>
  <br>
</div>
