<div class="container">
<%= form_for(@kid) do |f| %>
  <% if @kid.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@kid.errors.count, "error") %> prohibited this kid from being saved:</h2>

      <ul>
      <% @kid.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="input-field">
    <%= f.label :first_name %><br>
    <%= f.text_field :fname %>
  </div>
  <div class="input-field">
    <%= f.label :last_name %><br>
    <%= f.text_field :lname %>
  </div>
  <div class="input-field">
    <%= f.label :age %><br>
    <%= f.number_field :age %>
  </div>
  <div class="field">
    <%= f.label :story %><br>
    <%= f.text_area :story %>
  </div>
  <p>Upload an Image of the child</p>
  <%= f.file_field :image %>
  <br>
  <br>
  <%= link_to 'Back', orphanages_path, 
  class:"btn blue waves-effect waves-light" %>
  <div class="actions btn blue waves-effect waves-light">
    <% f.submit %>
    Add Child to Wall
  </div>
<% end %>
</div>