<div id="headerimage"></div>
<div class="container">
  <h5 class="center fontfor">
    You also can help to ake a difference in a child's life and keep his/her dream
    alive
    <br />
    <br />
    <a class="blue waves-effect waves-light btn-large text-darken-4"
      <%= link_to 'New Sponsor', new_sponsor_path %>       
    </a>    
  </h5>
  <br />  
  <% @sponsors.each do |sponsor| %>
  <div class="card large">
      <div class="col s6 card-image">
        <%= image_tag(sponsor.image.url{:thumb}) %>     
      </div>
      <div class="col s6 card-content">
        <ul>
          <li><%= sponsor.fname %></li>
          <li><%= sponsor.lname %></li>
          <li><%= sponsor.email %></li>
          <li><%= sponsor.number %></li>
        </ul>
      </div>
      <div class="card-action">
        <!-- <a href="#">This is a link</a>
        <a href='#'>This is a link</a> -->
      </div>
  </div>
  <% end %>
</div>
<br>
<br />
<br />
 <table>
  <thead>
    <tr>
      <th>Fname</th>
      <th>Lname</th>
      <th>Email</th>
      <th>Number</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @sponsors.each do |sponsor| %>
      <tr>
        <td><%= sponsor.fname %></td>
        <td><%= sponsor.lname %></td>
        <td><%= sponsor.email %></td>
        <td><%= sponsor.number %></td>
        <td><%= link_to 'Show', sponsor %></td>
        <td><%= link_to 'Edit', edit_sponsor_path(sponsor) %></td>
        <td><%= link_to 'Destroy', sponsor, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br> 
<br /> 