<!DOCTYPE html>
<html>
<head>
  <title>Dreams Alive</title>
    <%= stylesheet_link_tag 'application', media: 'all', 
    'data-turbolinks-track' => true %> 
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>

<body>
  <% if current_page?(root_path) %>
    <%= render 'layouts/homeheader' %>
<% else %>
    <%= render 'layouts/header' %>
<% end %> 
<!-- Notices and flash messages  -->
<% if notice %>
<div id="noticewrapper">
  <p class="notice"><%= notice %></p>
</div>  
<% elsif alert %>
<div id="noticewrapper">
   <p class="alert"><%= alert %></p>
 </div> 
<% end %>      
  <%= yield %>
  <footer class="page-footer blue white-text">
          <div class="container">
            <div class="row">
              <div class="col s6">
                <h5 class="white-text fontfor">Dreams Alive</h5>
                <p class="grey-text text-lighten-4">
                  Keeping children's dreams alive
                </p>
              </div>
              <div class="col s6">
                <h5 class="fontfor text-darken-4">Links</h5>
                <ul>
                  <li><%= link_to 'Home', root_path, 
                  class:"white-text text-darken-4" %></li>
                  <li><%= link_to 'Sponsors', sponsors_path, 
                  class:"white-text text-darken-4" %></li>
                  <li><%= link_to 'Credits', root_path, 
                  class:"white-text text-darken-4" %></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="footer-copyright">
            <div class="container">
            © 2015 Copyright Cornellius Ngondo
            </div>
          </div>
  </footer>
  <script type="text/javascript">
    $('.button-collapse').sideNav({
          menuWidth: 300, // Default is 240
          edge: 'left', // Choose the horizontal origin
          closeOnClick: true // Closes side-nav on <a> clicks, useful for Angular/Meteor
        }
      );
  </script>
  <script type="text/javascript">
      $(document).ready(function(){ 
                $("#toabout").click(function() {
                    $('html, body').animate({
                        scrollTop: $("#about").offset().top
                    }, 1500);
                });
            });
  </script>
  <script type="text/javascript">
  var $j = jQuery.noConflict();
    $j(document).ready(function(){
        setTimeout(function(){
          $j('#noticewrapper').fadeOut("slow", function(){
            $j(this).remove();
          })
        }, 4000);
      });
  </script>
  
</body>
</html>
